@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-list {
  margin: 0 -100px;
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.slick-dots li button::before {
  font-size: 16px;
  color: #fff !important;
  opacity: 0.9;
}

.slick-dots li.slick-active button::before {
  color: #fff;
  opacity: 1;
}

/* width */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: #d8d8d8;
  border-radius: 20px;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgb(153, 146, 146);
  border-radius: 20px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 145, 145);
}

@media only screen and (min-width: 1024px) {
  .slick-slide > div {
    margin: 0 10px;
  }
}

pre {
  font-family: "Poppins", sans-serif;
  white-space: pre-wrap;
}
